:root {
  --background: hsl(0, 0%, 98%);
  --text: hsl(200, 15%, 8%);
  --secondary: hsl(0, 0%, 100%);
  --box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  --box-shadow-2: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  --search-icon: #848484;
}

[data-theme="dark"] {
  --background: hsl(207, 26%, 17%);
  --text: hsl(0, 0%, 100%);
  --secondary: hsl(209, 23%, 22%);
  --box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  --box-shadow-2: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  --search-icon: hsl(0, 0%, 100%);
}

html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
  background-color: var(--background);
  color: var(--text);
  font-weight: 300;
}

/* H1 */
h1 {
  font-size: 2.4rem;
  font-weight: 800;
}

@media (max-width: 575px) {
  h1 {
    font-size: 1.4rem;
  }
}

h2 {
  font-size: 3.2rem;
  font-weight: 800;
}

@media (max-width: 1377px) {
  h2 {
    font-size: 2.6rem;
  }
}

@media (max-width: 575px) {
  h2 {
    font-size: 2.2rem;
  }
}

/* H3 */
h3 {
  font-size: 1.8rem;
  font-weight: 800;
  margin-bottom: 2rem;
}

/* PARAGRAPHS */
p {
  font-size: 1.6rem;
}

@media (max-width: 575px) {
  p {
    font-size: 1.2rem;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

/* BUTTONS */
button {
  border: none;
  outline: none;
  font-family: inherit;
  font-size: 1.6rem;
  padding: 0.8rem 3rem;
  color: inherit;
  background-color: var(--secondary);
  cursor: pointer;
  box-shadow: var(--box-shadow-2);
  border-radius: 5px;
}

.arrow {
  margin-right: 0.6rem;
}

/* ICONS */
.icon {
  width: 2rem;
  height: 2rem;
  color: var(--text);
}

@media (max-width: 1110px) {
}

@media (max-width: 575px) {
  .icon {
    width: 1.6rem;
    height: 1.6rem;
  }
}

/* CONTAINERS */
.container {
  max-width: 1280px;
  margin: 0 auto;
}

@media (max-width: 1377px) {
  .container {
    max-width: 980px;
    margin: 0 auto;
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 740px;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 540px;
    margin: 0 auto;
  }
}

@media (max-width: 575px) {
  .container {
    max-width: 340px;
    margin: 0 auto;
  }
}

/* HEADER */
.header-box {
  /* box-shadow: var(--box-shadow-light-mode); */
  background-color: var(--secondary);
  box-shadow: var(--box-shadow);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
}

.dark-mode {
  display: flex;
  gap: 0.6rem;
  cursor: pointer;
}

.dark-mode__text {
  font-weight: 600;
}

/* .dark-mode .icon {
  cursor: pointer;
}

.fa {
} */

/* SEARCH BAR */
.search-and-filter-bars {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .search-and-filter-bars {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
}

.search {
  background-color: var(--secondary);
  width: 48rem;
  height: 5.6rem;
  display: flex;
  align-items: center;
  box-shadow: var(--box-shadow-2);
  border-radius: 5px;
}

@media (max-width: 768px) {
  .search {
    width: 100%;
    height: 4.8rem;
  }
}

.search input {
  background-color: var(--secondary);
}

.search input::placeholder {
  color: var(--text);
}

.search__icon {
  width: 1.8rem;
  height: 1.8rem;
  color: var(--search-icon);
  display: grid;
  place-items: center;
  margin-left: 2rem;
}

.search__input {
  border: none;
  outline: none;
  font-size: 1.4rem;
  font-family: inherit;
  margin-left: 2rem;
  color: inherit;
  width: 100%;
}

/* @media (max-width: 768px) {
  .select-drop-down {
    height: 4.8rem;
  }
} */

.select {
  font-family: inherit;
  font-size: 1.4rem;
  color: inherit;
  padding: 1rem;
  background-color: var(--secondary);
  cursor: pointer;
  border-radius: 5px;
  border: none;
  box-shadow: var(--box-shadow-2);
  width: 20rem;
  outline: none;
}

.select option {
  background-color: var(--secondary);
}

@media (max-width: 575px) {
  .select {
    /* width: 100%; */
  }
}

/* COUNTRIES GRID */
.countries-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  column-gap: 4rem;
  row-gap: 8rem;
  margin-top: 5rem;
}

@media (max-width: 1377px) {
  .countries-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1024px) {
  .countries-grid {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 8rem;
  }
}

@media (max-width: 768px) {
  .countries-grid {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
}

@media (max-width: 575px) {
  .countries-grid {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 3rem;
  }
}

/* CARD */
.card {
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  overflow: hidden;
}

.card__image {
  /* height: 20rem; */
  /* background-size: cover; */
}

.card__image img {
  aspect-ratio: 16/9;
  object-fit: cover;
  width: 100%;
}

.card__body {
  padding: 2rem 2rem 5rem 2rem;
  background-color: var(--secondary);
}

.country__info {
  font-size: 1.4rem;
  margin-bottom: 0.6rem;
}

.country__info .label {
  font-weight: 600;
}

/* COUNTRY */
.country__section {
  margin-top: 8rem;
}

.badge {
  padding: 0.5rem 3rem;
  background-color: var(--secondary);
  border-radius: 5px;
  box-shadow: var(--box-shadow-2);
}

@media (max-width: 1377px) {
  .badge {
    padding: 0.3rem 1rem;
  }
}

.country__content {
  margin-top: 8rem;
  display: flex;
  align-items: center;
  gap: 8rem;
}

@media (max-width: 1024px) {
  .country__content {
    gap: 3rem;
  }
}

@media (max-width: 768px) {
  .country__content {
    flex-direction: column;
  }
}

.country__content img {
  width: 100%;
}

.country__flag {
  flex: 1;
  border-radius: 5px;
  overflow: hidden;
}

.country__name {
  margin-bottom: 3rem;
}

@media (max-width: 1377px) {
  .country__name {
    margin-bottom: 1.5rem;
  }
}

.country__bio {
  flex: 1.5;

  display: flex;
  flex-direction: column;
}

@media (max-width: 1377px) {
  .country__bio {
    flex: 1;
  }
}

@media (max-width: 768px) {
  .country__bio {
    justify-content: start;
  }
}

.country__bio--details {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .country__bio--details {
    display: grid;
    grid-template-columns: 1fr;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .country__bio--details {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 340px;
  }
}

.borders {
  margin-top: 5rem;
}

@media (max-width: 1377px) {
  .borders {
    margin-top: 2rem;
  }
}

@media (max-width: 768px) {
  .left {
    margin-top: 2rem;
  }

  .right {
    margin-top: 3rem;
  }

  .borders {
    margin-top: 3rem;
  }

  .borders .label {
    display: block;
    margin-bottom: 1.5rem;
  }
}
